Source: folder2ram
Section: admin
Priority: optional
Maintainer: Alberto Bursi <starshipeleven@outlook.com>
Build-Depends: 
Standards-Version: 3.9.3

Package: folder2ram
Architecture: all
Depends: ${misc:Depends}, rsync, gawk, 
Description: script-based utility to manage tmpfs folders
 It syncs data on power up, on shutdown, and on request.
 Mostly useful for long-term usage of flash drives as system drive.

