Package: folder2ram
Version: 0.2.4
Architecture: all
Maintainer: Alberto Bursi <starshipeleven@hotmail.it>
Installed-Size: 76
Depends: debconf (>= 0.5) | debconf-2.0, rsync
Section: admin
Priority: optional
Description: script-based utility to manage tmpfs folders
 It syncs data on power up, on shutdown, and on request.
 Mostly useful for long-term usage of flash drives as system drive.
