Source: folder2ram
Section: admin
Priority: optional
Maintainer: Alberto Bursi <starshipeleven@hotmail.it>
Build-Depends: 
Standards-Version: 3.9.3

Package: folder2ram
Architecture: all
Depends: ${misc:Depends}, lsb-base (>= 3.0-6)
Description: script-based utility that relocates the contents of a folder to RAM
 (tmpfs) and on shutdown unmounts it safely synching the data back to the permanent storage.

